<div class="center hero-unit">
  <h1>Welcome to United Bananas!</h1>

  <h2>
    Post a shift, see available shifts, and do other cool stuff.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>